/* gplotter.css
 * Stylizes some main elements of gPlotter.
 */

@define-color default_line_color #acaeac;

GtkButton#wt_sebc_save, GtkButton#wt_sebc_export {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	border-bottom: 1px solid #F0F0F0;
	box-shadow: 0px -1px 0px @default_line_color;
	padding-left: 10px;
	padding-right: 10px;
}


GtkButton#wt_sebc_save {
	border-left: 1px solid @default_line_color;
	border-top: 1px solid @default_line_color;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

GtkButton#wt_sebc_export {
	border-right: 1px solid @default_line_color;
	border-top: 1px solid @default_line_color;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

GtkEntry#wt_equation_editor {
	border-radius: 0px;
	border: none;
	border-radius: 12px;
	border: 1px solid @default_line_color;
	padding-left: 10px;
	padding-right: 10px;
}

GtkBox#window_bottom {
	box-shadow: 0px 0px 5px #000000;
}